.header {
    position: fixed;
    width: 100%;
    background-color: white;

    &__container {}

    &__body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;

        padding: 2.5px 0;

        @media (max-width: $tabletSize_Big) {
            padding: 11px 0;
        }
    }

    &__logo {}

    &__nav {}

    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $colorBlack23;

        &__img {
            @media (max-width: $tabletSize_Big) {
                width: 32px;
                height: 32px;
            }
        }

        &__title {
            font-family: "Manrope";
            font-weight: 600;
            line-height: 130%;

            @media (max-width: $mobileSize) {
                display: none;
            }
        }
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr auto;

        @media (max-width: $tabletSize_Big) {
            position: fixed;
            margin-top: 54px;
            padding: 24px 24px 0 24px;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            left: 0;
            right: 0;
            background-color: $colorBackground;

            transform: translateX(100%);
            transition: transform 0.3s ease;

            top: 0;
            bottom: 0;
            position: fixed;

            @media (max-height: 623px) {
                padding-top: 14px;
                overflow-y: auto;
            }
        }

        &_burger-menu-active {
            transform: translateX(0%);
        }

        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 46px;

            @media (max-width: 1064px) {
                gap: 30px;
            }

            @media (max-width: $tabletSize_Big) {
                flex-direction: column;
                gap: 24px;
                position: relative;
                padding: 28px 36px 12px 36px;
                background-color: white;
                border-radius: 12px;

                box-shadow: 0 12px 28px rgba(177, 177, 177, 0.2);
            }
        }

        &__menu-item {
            align-self: stretch;
            display: flex;
            align-items: center;
            position: relative;

            &_burger-menu-item {
                display: none;

                @media (max-width: $tabletSize_Big) {
                    display: flex;
                }
            }

            &_burger-item-icon {
                display: none;

                @media (max-width: $tabletSize_Big) {
                    display: block;
                }
            }

            a {
                color: $colorBlack51;
            }

            @media (max-width: $tabletSize_Big) {
                align-self: center;
                width: 100%;
                font-size: 17px;
                line-height: 150%;
                gap: 15px;

                a {
                    color: $colorBlack7;
                }
            }

            @media (pointer: fine) {
                &::after {
                    content: "";
                    position: absolute;
                    top: 67%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    background-color: $colorBlue;
                    height: 1px;
                    transition: width 0.3s ease, left 0.3s ease;
                }

                &:first-of-type {
                    &::after {
                        left: 43%;
                    }
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }

                    &:first-of-type {
                        &::after {
                            width: 85%;
                        }
                    }
                }
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: 40px;

            @media (max-width: 1064px) {
                gap: 25px;
            }

            @media (max-width: $tabletSize_Big) {
                gap: 0px;
                align-items: normal;
                align-self: flex-end;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 40px;

                margin-top: 186px;

                >:not(:last-child) {
                    margin-top: 36px;
                }

                @media (max-height: 680px) {
                    margin-bottom: 5px;
                }

                @media (max-height: 676px) {
                    >:not(:last-child) {
                        margin-top: 20px;
                    }
                }

                @media (max-height: 641px) {
                    >:not(:last-child) {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .subscriptions {
        position: relative;

        @media (max-width: $tabletSize_Big) {
            position: absolute;
            bottom: calc(-100% - 16px);
            width: 100%;
        }

        @media (pointer: fine) {
            &:hover .subscriptions__button-arrow {
                transform: rotate(90deg);
            }
        }

        &__button {
            display: flex;
            align-items: center;
            gap: 13px;
            background-color: white;
            font-size: 16px;

            @media (max-width: $tabletSize_Big) {
                display: none;
            }
        }

        &__button-arrow {
            transition: transform 0.3s ease;
        }

        &__menu {
            position: absolute;
            top: calc(100% + 6px);
            left: -23px;
            width: 205px;
            padding: 27px 23px 24px 23px;

            display: none;
            flex-direction: column;
            gap: 20px;

            transition: opacity 0.3s ease;
            opacity: 0;
            background-color: white;
            border-radius: 16px;

            box-shadow: 0 20px 48px #b1b1b163;

            @media (max-width:$tabletSize_Big) {
                position: static;
                display: flex;
                gap: 24px;
                opacity: 1;
                width: 100%;
                padding: 28px 36px 12px 36px;
                border-radius: 12px;
                margin-bottom: 50px;
                box-shadow: 0 12px 28px rgba(177, 177, 177, 0.2);
            }

            &_active {
                display: flex;
            }
        }

        &__menu-item {
            font-size: 17px;
            line-height: 150%;

            a {
                display: block;
                color: $colorBlack23;

                &:hover {
                    color: $colorBlue;
                }
            }

            @media (max-width:$tabletSize_Big) {
                a {
                    color: $colorBlack7;
                }
            }
        }
    }

    .social-media-buttons {
        display: flex;
        gap: 14px;

        @media (max-width: $tabletSize_Big) {
            order: 2;
            gap: 16px;
        }

        &__item {
            @media (max-width: $tabletSize_Big) {
                width: 32px;
                height: 32px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .language {
        display: flex;
        align-items: center;
        position: relative;
        align-self: stretch;

        @media (pointer: fine) {
            &::after {
                content: "";
                position: absolute;
                top: 67%;
                left: 33%;
                transform: translateX(-50%);
                width: 0;
                background-color: $colorBlue;
                height: 1px;
                transition: width 0.3s ease, left 0.3s ease;
            }

            &:hover {
                &::after {
                    width: 61%;
                }
            }

            &:hover .language__selected-language-arrow {
                transform: rotate(90deg);
            }
        }

        @media (max-width: $tabletSize_Big) {
            order: 3;

        }

        &__selected-language {
            display: flex;
            align-items: center;
            gap: 7px;
            background-color: transparent;
            font-size: 16px;
            color: $colorBlack51;

            @media (max-width: $tabletSize_Big) {
                font-size: 17px;
            }
        }

        &__selected-language-arrow {
            transition: transform 0.3s ease;
        }

        &__list {
            position: absolute;
            top: calc(100% + 6px);
            left: -23px;
            width: 114px;
            padding: 27px 23px 24px 23px;

            display: none;
            flex-direction: column;
            gap: 20px;

            transition: opacity 0.3s ease;
            opacity: 0;
            background-color: white;
            border-radius: 16px;

            box-shadow: 0 20px 48px #b1b1b163;

            &_active {
                display: flex;
            }

            @media (max-width: $tabletSize_Big) {
                top: -180px;
                left: -75px;
                box-shadow: 0 -6px 28px rgba(177, 177, 177, 0.2);
            }
        }

        &__list-item {
            button {
                background-color: white;
                font-size: 17px;
                line-height: 150%;
                color: $colorBlack23;

                &:hover {
                    color: $colorBlue;
                }
            }
        }
    }

    .log-in {
        padding: 9px 43px;
        background-color: $colorBlue;
        border-radius: 12px;
        border: 1px solid $colorBlue;
        transition: background-color 0.3s ease, color 0.3s ease;

        font-weight: 700;
        font-size: 17px;
        line-height: 130%;
        color: white;

        &:hover {
            background-color: white;
            color: $colorBlack23;
        }

        @media (max-width: $tabletSize_Big) {
            order: 1;
            flex-basis: 100%;
            width: 100%;

            background-color: transparent;
            color: $colorBlue;
        }
    }

    .sign-up {
        display: none;

        @media (max-width: $tabletSize_Big) {
            display: block;
            order: 1;
            flex-basis: 100%;
            width: 100%;

            margin-top: 8px;
            padding: 9px 43px;
            background-color: $colorBlue;
            border-radius: 12px;
            border: 1px solid $colorBlue;
            transition: background-color 0.3s ease, color 0.3s ease;

            font-weight: 700;
            font-size: 17px;
            line-height: 130%;
            color: white;

            &:hover {
                background-color: white;
                color: $colorBlack23;
            }
        }
    }

    &__burger-button {
        display: none;
        align-self: center;
        justify-self: end;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: white;
        transition: background-color 0.3s ease, border-radius 0.3s ease;

        @media (max-width: 991.8px) {
            display: flex;
        }

        span {
            display: block;
            position: relative;
            width: 24px;
            height: 2px;
            background-color: rgb(7, 0, 51);
            transition: color 0.3s ease, transform 0.3s ease;

            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: rgb(7, 0, 51);
                animation: burgerButtonBottom 0.5s ease forwards;

                @keyframes burgerButtonBottom {
                    0% {
                        bottom: -50%;
                        transform: translateY(50%) rotate(45deg);
                        background-color: white;
                    }

                    50% {
                        bottom: -50%;
                        transform: translateY(-50%) rotate(0deg);
                        background-color: rgb(7, 0, 51);
                    }

                    100% {
                        transform: translateY(0%) rotate(0deg);
                        background-color: rgb(7, 0, 51);
                    }
                }
            }

            &::after {
                top: -8px;
                animation: burgerButtonTop 0.5s ease forwards;

                @keyframes burgerButtonTop {
                    0% {
                        top: -50%;
                        transform: translateY(-50%) rotate(-45deg);
                        background-color: white;
                    }

                    50% {
                        top: -50%;
                        transform: translateY(50%) rotate(0deg);
                        background-color: rgb(7, 0, 51);
                    }

                    100% {
                        transform: translateY(0%) rotate(0deg);
                        background-color: rgb(7, 0, 51);
                    }
                }
            }
        }

        &_active {
            border-radius: 50%;
            background-color: $colorBlue;

            span {
                height: 0;

                &::before {
                    animation: burgerButtonBottomActive 0.5s ease forwards;

                    @keyframes burgerButtonBottomActive {
                        0% {}

                        50% {
                            bottom: -50%;
                            transform: translateY(50%);
                            background-color: white;
                        }

                        100% {
                            bottom: -50%;
                            transform: translateY(50%) rotate(45deg);
                            background-color: white;
                        }
                    }
                }

                &::after {
                    animation: burgerButtonTopActive 0.5s ease forwards;

                    @keyframes burgerButtonTopActive {
                        0% {}

                        50% {
                            top: -50%;
                            transform: translateY(-50%);
                            background-color: white;
                        }

                        100% {
                            top: -50%;
                            transform: translateY(-50%) rotate(-45deg);
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}