body {
    font-family: "Gotham Pro";
    color: $colorBlack51;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.main {
    flex: 1 1 auto;
    background-color: $colorBackground;
}

[class*="__container"] {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: $tabletSize--Big) {
        padding: 0 24px;
    }
}