.button {
  padding-top: 0.941em;
  padding-bottom: 0.941em;
  border-radius: 0.941em;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 130%;
  transition: background-color 0.3s ease;
  white-space: nowrap;

  &:hover {
    background-color: transparent;
  }

  @media (max-width: $tabletSize_Big) {
    font-size: 0.9375rem;
  }

  @media (max-width: 524px) {
    width: 100%;
  }

  &_start-using {
    padding-left: 3.38em;
    padding-right: 3.38em;
    background-color: #fff;
    border: 1px solid #fff;
    color: $colorBlack23;

    &:hover {
      color: #fff;
    }
  }

  &_learn-more {
    padding-left: 1.41em;
    padding-right: 1.41em;
    background-color: $colorBlue;
    border: 1px solid $colorBlue;
    color: #fff;

    &:hover {
      color: $colorBlack23;
    }
  }

  &_support {
    padding-left: 5.14em;
    padding-right: 5.14em;
    max-width: 243px;
    text-align: center;

    color: #fff;

    background-color: $colorBlack51;
    border: 1px solid rgb(0, 0, 0);

    &:hover {
      background-color: transparent;
      color: $colorBlack23;
    }

    @media (max-width: $tabletSize_Big) {
      font-size: 1.0625rem;
    }

    @media (max-width: 524px) {
      font-size: 1.0625rem;
      padding-top: 0.764em;
      padding-bottom: 0.764em;
    }
  }

  &_request {
    background-color: #fff;
    border: 1px solid #fff;
    color: $colorBlack23;
    max-width: 296px;
    width: 100%;

    &:hover {
      color: #fff;
    }

    @media (max-width: 554px) {
      max-width: 554px;
      width: 100%;
    }
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  color: $colorBlack23;

  @media (max-width: $tabletSize_Big) {
    font-size: 1.5625rem;
  }

  @media (max-width: 332px) {
    font-size: 1.5rem;
  }
}

.accordion {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 12px 28px rgba(244, 245, 245, 0.2);
  overflow: hidden;

  transition: padding-bottom 0.2s ease;

  &_active {
    padding-bottom: 40px;

    @media (max-width: $tabletSize_Big) {
      padding-bottom: 20px;
    }
  }

  &__button {
    position: relative;

    padding: 38px 40px;
    width: 100%;
    text-align: start;

    font-size: 18px;
    line-height: 150%;
    color: $colorBlack23;
    font-weight: 500;
    overflow-wrap: break-word;
    word-break: break-word;

    background-color: #fff;
    border-radius: 32px;

    @media (max-width: $tabletSize_Big) {
      padding: 20px;
      font-size: 17px;
    }

    @media (max-width: 360px) {
      font-size: 16px;
      line-height: 140%;
    }

    &::before {
      content: "";
      position: absolute;
      right: 53px;
      top: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 7px;
      background-image: url(/img/icons/arrow-bold.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 0.4s ease;

      @media (max-width: $tabletSize_Big) {
        right: 33px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background-color: rgba(23, 23, 23, 0.05);
      border-radius: 12px;

      @media (max-width: $tabletSize_Big) {
        right: 20px;
      }
    }

    &_active {
      &::before {
        transform: rotate(180deg) translateY(40%);
      }
    }

    h3 {
      @media (max-width: 944px) {
        width: 80%;
      }
    }
  }

  &__content {
    max-height: 0;
    padding: 0 40px;
    overflow: hidden;

    font-size: 18px;
    line-height: 150%;
    color: $colorBlack51;

    transition: max-height 0.5s ease;

    @media (max-width: $tabletSize_Big) {
      padding: 0 20px;
      font-size: 17px;
    }
  }
}