// @font-face {
//     font-family: 'Manrope';
//     src: url('/fonts/Manrope-ExtraLight.woff2') format('woff2'),
//         url('/fonts/Manrope-ExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'),
        url('/fonts/GothamPro.eot') format('embedded-opentype'),
        url('/fonts/GothamPro.woff2') format('woff2'),
        url('/fonts/GothamPro.woff') format('woff'),
        url('/fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url('/fonts/GothamPro-Bold.eot') format('embedded-opentype'),
        url('/fonts/GothamPro-Bold.woff2') format('woff2'),
        url('/fonts/GothamPro-Bold.woff') format('woff'),
        url('/fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}