$colorBlack51: rgb(51, 51, 51);
$colorBlack23: rgb(23, 23, 23);
$colorBlack7: rgb(7, 0, 51);
$colorBlue: rgb(23, 73, 179);
$colorBackground: #edf3fa;

$tabletSize_Big: 991.8px;
$tabletSize: 767.8px;
$mobileSize: 479.8px;